@model ShoppingCartVM


@* <link rel="stylesheet" type="text/css" href="~/css/CartIn.css"> *@
<script src="https://code.jquery.com/jquery-2.2.4.js" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="~/css/stylecart.css">

<div class="container px-4 py-5 mx-auto" >
    <div class="row d-flex justify-content-center" style="padding-top:10px">
        <div class="shopping-cart">
            <!-- Title -->
            <div class="title">
                Shopping Bag
            </div>
            
      

    @foreach (var item in Model.ShoppingCartList)
    {
       
        <div class="item">
            <div class="row d-flex justify-content-between">
            <div class="col-3">
                <div class="book">
                  <img src="~/images/@item.Product.ImageUrl" class="book-img" style="width:75px;height:75px">
            </div>
            </div>
            <div class="col-5">
               <div class="item-details">
                         <p class="item-name">@item.Product.Name</p>
                             <div class="quantity">
                                        <a asp-action="minus" asp-route-cartId="@item.Id" class="quantity-btn">
                                            <img src="~/images/minus.svg" alt="-" />
                                        </a>
                                        <span class="item-count" id="cnt2">@item.Count</span>
                                        <a asp-action="plus" asp-route-cartId="@item.Id" class="quantity-btn">
                                            <img src="~/images/plus.svg" alt="+" />
                                        </a>
                             </div>
                        </div>
                    </div>
         
            <div class="col-2">
                            <p class="item-price">@item.Product.Price</p>
                            <a asp-action="remove" asp-route-cartId="@item.Id" class="btn btn-danger remove-btn">
                                <img src="~/images/trash.svg" alt="Remove" />
                            </a>
             </div>
          </div>
      </div>
    }


            <div class="row justify-content-center align-items-center">
                <div class="col-lg-12 text-center">
                    <form method="post" asp-action="Summary" asp-controller="Home">
                        <a href="/Home/Summary" type="submit" class="btn btn-primary btn-lg" style="width:auto; background-color: black; color: white;">
                            <span>
                                <span id="checkout">Checkout</span>
                            </span>
                        </a>
                    </form>
                   <br>
                </div>
            </div>
                    
        </div>
    </div>




</div>
<style>
    .item {
        /* Add styles for each item in the cart */
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    
   
    .item-name {
        /* Add styles for the item name */
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .quantity {
        /* Add styles for the quantity section */
        display: flex;
        align-items: center;
    }

    .quantity-btn {
        /* Add styles for the quantity buttons */
        cursor: pointer;
        margin: 0 5px;
    }

    .item-count {
        /* Add styles for the item count */
        font-size: 16px;
        font-weight: bold;
        margin: 0 10px;
    }

    .item-price {
        /* Add styles for the item price */
        font-size: 16px;
        font-weight: bold;
    }

    .remove-btn {
        /* Add styles for the remove button */
        cursor: pointer;
        margin-top: 10px;
    }

    .checkout-btn {
        /* Add styles for the checkout button */
        margin-top: 20px;
    }

 
</style>
