
@model Contact

@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/External.cshtml";
}
 


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- MATERIAL DESIGN ICONIC FONT -->
    <link rel="stylesheet" href="~/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css">

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="~/css/style12.css">
</head>

<body>

    <div class="wrapper" style="background-image: url('~/images/bg-registration-form-1.jpg');">
        <div class="inner">
            <div class="image-holder">
                <br /><br /><br />
                <img src="~/images/Flashreg.jpg" alt="">
            </div>
            <form method="post" asp-action="Contact">
                <h3>Contact Us</h3>
                    @*  <div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <div class="form-floating">
                        <label asp-for="@Model.Name" class="form-label"></label>
                        <input asp-for="@Model.Name" class="form-control" autocomplete="Name" aria-required="true" />
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <label asp-for="@Model.Email" class="form-label"></label>
                        <input asp-for="@Model.Email" class="form-control" autocomplete="Email" aria-required="true" />
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <label asp-for="@Model.Subject" class="form-label"></label>
                        <input asp-for="@Model.Subject" class="form-control" autocomplete="Subject" aria-required="true" />
                        <span asp-validation-for="@Model.Subject" class="text-danger"></span>
                    </div>
                    <div class="form-floating">
                        <label asp-for="@Model.Message" class="form-label"></label>
                        <input asp-for="@Model.Message" class="form-control" autocomplete="Message" aria-required="true" />
                        <span asp-validation-for="@Model.Message" class="text-danger"></span>
                    </div>


                    <div>
                        <button id="Contact-submit" type="submit" class="w-100 btn btn-lg btn-primary">Send</button>
                    </div>


            </form>



        </div>

    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
