@model Flash.Models.ShoppingCartVM

@using Microsoft.Extensions.Options;
@inject IOptions<Flash.Utility.StripeSettings> Stripe

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="~/css/checkkkkk.css">
</head>
<body>

    <div id="wrapper" style="padding-top:5%">
        <div class="container1">
            <div class="order">
                <h2 style="padding-top: 10%;">Your order summary</h2>
                @foreach (var item in Model.ShoppingCartList){
                <div class="item">
                    <img src='~/images/@item.Product.ImageUrl' alt='' width="130" height="120" style="margin: 1px 1px;">
                    <div class="info">
                            <h4>@item.Product.Name</h4>
                            <p class="quantity">Quantity: @item.Product.Quantity</p>
                            <p class="price">@item.Product.Price</p>
                    </div> <!-- .info -->
                </div> <!-- .item -->}
               <h4 class="ship">Shipping: FREE</h4>
                <hr>
                <h3 class="total">TOTAL: @Model.OrderHeader.OrderTotal</h3>
            </div> <!-- .order -->
        </div> <!-- .container1 -->

        <div class="container2" style="padding-top:10%">
            <div class="checkout">
                <form method="post">

                    <div class="payment" style="margin-block-end: 25%;">
                    <div class="content">
                        <div class="infos">

                            <div class="method">
                                <h2>Flash Payment</h2>
                            </div> <!-- .title -->

                            <div class="cardHolderName">
                                <p class="title">Name</p>
                                <input asp-for="@Model.OrderHeader.Name" type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                                <span asp-validation-for="@Model.OrderHeader.Name"></span>
                            </div> <!-- cardHolderName -->


                            <div class="cardHolderName">
                                <label class="title">Address City</label>
                                <input asp-for="@Model.OrderHeader.City" type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                                <span asp-validation-for="@Model.OrderHeader.City"></span>
                            </div> <!-- cardHolderName -->

                            <div class="cardHolderName">
                                <label class="title">Address State</label>
                                <input asp-for="@Model.OrderHeader.State" type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                                <span asp-validation-for="@Model.OrderHeader.State"></span>
                            </div> <!-- cardHolderName -->

                            <div class="cardHolderName">
                                <label class="title">Address Street</label>
                                <input asp-for="@Model.OrderHeader.StreetAddress" type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                                <span asp-validation-for="@Model.OrderHeader.StreetAddress"></span>
                            </div> <!-- cardHolderName -->



                            <div class="cardHolderName">
                                <label class="title">phone</label>
                                <input asp-for="@Model.OrderHeader.PhoneNumber" type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                                <span asp-validation-for="@Model.OrderHeader.PhoneNumber"></span>
                            </div> <!-- cardHolderName -->


                            <div class="security">
                                <p class="title">Postal code</p>
                                <input asp-for="@Model.OrderHeader.PostalCode" type="text" class="form-control" id="address2" placeholder="Apartment or suite">
                                <span asp-validation-for="@Model.OrderHeader.PostalCode"></span>
                            </div><!-- .security -->
                            <button>Checkout</button>
                        </div> <!-- .infos -->

                    </div> <!-- .content -->
                </div> <!-- .payment -->
                </form>
            </div> <!-- .checkout -->

        </div> <!-- .container2 -->

    </div> <!-- #wrapper -->
</body>
</html>