@model Flash.Models.ShoppingCartVM

@using Microsoft.Extensions.Options;
@inject IOptions<Flash.Utility.StripeSettings> Stripe
@* <link rel="stylesheet" type="text/css" href="~/css/checkkkkk.css">
 *@@* <form method="post" >
        <br />
<div class="container mt-5 px-5">

    <div class="mb-4">

        <h2>Confirm order and pay</h2>
        <span>please make the payment, after that you can enjoy all the features and benefits.</span>

    </div>

    <div class="row">

        <div class="col-md-8">


            <div class="card p-3">

                <h6 class="text-uppercase">Payment details</h6>
                <div class="inputbox mt-3"> <input asp-for="@Model.OrderHeader.Name" type="text" name="name" class="form-control" required="required">
                    <span asp-validation-for ="@Model.OrderHeader.Name">

                    </span> name on card</div>


                <div class="row">

                    <div class="col-md-6">

                        <div class="inputbox mt-3 mr-2">
                            <input type="text" name="name" class="form-control" required="required"> <i class="fa fa-credit-card"></i> <span>Card Number</span>


                        </div>


                    </div>

                    <div class="col-md-6">

                        <div class="d-flex flex-row">


                            <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>Expiry</span> </div>

                            <div class="inputbox mt-3 mr-2"> <input type="text" name="name" class="form-control" required="required"> <span>CVV</span> </div>


                        </div>


                    </div>


                </div>



                <div class="mt-4 mb-4">

                    <h6 class="text-uppercase">Billing Address</h6>


                    <div class="row mt-3">

                        <div class="col-md-6">

                            <div class="inputbox mt-3 mr-2">
                                <input asp-for="@Model.OrderHeader.StreetAddress" type="text" name="name" class="form-control" required="required">
                                    <span asp-validation-for="@Model.OrderHeader.StreetAddress" class="text-danger"></span>

                                <span>Street Address</span>
                            </div>


                        </div>


                        <div class="col-md-6">

                            <div class="inputbox mt-3 mr-2"> <input asp-for="@Model.OrderHeader.City" type="text" name="name" class="form-control" required="required">
                                    <span asp-validation-for="@Model.OrderHeader.City" class="text-danger"></span>

                                <span>City</span>
                                </div>


                        </div>




                    </div>


                    <div class="row mt-2">

                        <div class="col-md-6">

                            <div class="inputbox mt-3 mr-2"> <input asp-for="@Model.OrderHeader.State" type="text" name="name" class="form-control" required="required">

                                <span>State/Province</span>
                                    <span asp-validation-for="@Model.OrderHeader.State" class="text-danger"></span>

                                </div>


                        </div>


                        <div class="col-md-6">

                            <div class="inputbox mt-3 mr-2"> <input asp-for="@Model.OrderHeader.PostalCode" type="text" name="name" class="form-control" required="required">
                                    <span asp-validation-for="@Model.OrderHeader.PostalCode" class="text-danger"></span>

                                <span>Zip code</span> </div>


                        </div>




                    </div>

                </div>

            </div>


            <div class="mt-4 mb-4 d-flex justify-content-between">


                <span>Previous step</span>


                <button class="btn btn-success px-3">@Model.OrderHeader.OrderTotal</button>




            </div>

        </div>

        <div class="col-md-4">

            <div class="card card-blue p-3 text-white mb-3">

                <span>You have to pay</span>
                <div class="d-flex flex-row align-items-end mb-3">
                    <h1 class="mb-0 yellow">@Model.OrderHeader.OrderTotal</h1> <span>.99</span>
                </div>

                <span>Enjoy all the features and perk after you complete the payment</span>
                <a href="#" class="yellow decoration">Know all the features</a>

                <div class="hightlight">

                    <span>100% Guaranteed support and update for the next 5 years.</span>


                </div>

            </div>

        </div>

    </div>


</div>
</form> *@
<div class="wrapper">
    <div class="container">
        <form method="post">
          
            <h1>
                <i class="fas fa-shipping-fast"></i>
                Shipping Details
            </h1>
            <div class="name">
                <div>
                    <label for="f-name">First</label>
                    <input asp-for="@Model.OrderHeader.Name" type="text" name="f-name" required="required">
                    <span asp-validation-for="@Model.OrderHeader.Name"></span>
                </div>

            </div>
            <div class="street">
                <label for="name">Street</label>
                <input asp-for="@Model.OrderHeader.StreetAddress" type="text" name="address" required="required">
                <span asp-validation-for="@Model.OrderHeader.StreetAddress"></span>

            </div>
            <div class="address-info">
                <div>
                    <label for="city">City</label>
                    <input asp-for="@Model.OrderHeader.City" type="text" name="city" required="required">
                    <span asp-validation-for="@Model.OrderHeader.City"></span>

                </div>
                <div>
                    <label for="state">State</label>
                    <input asp-for="@Model.OrderHeader.State" type="text" name="state" required="required">
                    <span asp-validation-for="@Model.OrderHeader.State"></span>

                </div>
                <div>
                    <label for="zip">Zip</label>
                    <input asp-for="@Model.OrderHeader.PostalCode" type="text" name="zip" required="required">
                    <span asp-validation-for="@Model.OrderHeader.PostalCode"></span>

                </div>
            </div>
            <h1>
                <i class="far fa-credit-card"></i> Payment Information
            </h1>
            <div class="cc-num">
                <label for="card-num">Credit Card No.</label>
                <input type="text" name="card-num">
            </div>
            <div class="cc-info">
                <div>
                    <label for="card-num">Exp</label>
                    <input type="text" name="expire">
                </div>
                <div>
                    <label for="card-num">CCV</label>
                    <input type="text" name="security">
                </div>
            </div>
            <div class="btns">
                <button>Purchase</button>
                <button>Back to cart</button>
            </div>
        </form>
    </div>
</div>